# Залежності
node_modules/

# Збірки (зкомпільований код)
dist/
build/

# Секретні файли
.env
.env.local

# Системні файли ОС
.DS_Store
Thumbs.db

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Кеші
prisma/generated/
server/prisma/generated/
server/prisma/backups/

prisma/seed.demo.ts
